*{
    /* background-color: aqua; */
}


h1{
    color: yellow;
}

h2{
    color: greenyellow;
}

p{
    color: coral;
}

.One > h1{
    color: hotpink;
}

#Two > h2{
    color: red;
}

#tag > h1,
#tag > h2,
#tag > h3,
#tag > h4,
#tag > h5,
#tag > p{
    color: blue;
}

/* #tag >h1,h2,h3,h4,h5,p{
    color: blue;
} */